* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Bogart-med;
}
#postion {
  position: sticky;
  top: 0;
}
.home {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  background-color: #e3e6e6;

  gap: 10px;
}
.home .mobileproduct .innerbox {
  height: 100%;

  width: 350px;
}
.home .mobileproduct {
  text-align: center;
  border-radius: 10px;
  background-color: white;
  height: auto;
  max-width: 500px;
  min-width: auto;
}

.home .mobileproduct .innerbox div img {
  width: 60%;
}

.home .mobileproduct .innerbox button {
  width: 150px;
  background-color: orange;
  border-radius: 10px;
  color: white;
  height: 30px;
  margin-bottom: 10px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;

  color: white;
  flex-wrap: wrap;
  height: max-content; /* This allows the footer to adjust based on its content */
}

footer div ul {
  list-style: none;
  padding: 10px;
}

footer div ul a {
  text-decoration: none;
  color: white;
}

.productdetail {
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.productdetail div h4 {
  word-wrap: break-word;
}
/* .productdetail .productimage {
  width: 50%;
} */
.productdetail .productimage img {
  width: 100%;
  text-align: center;
  height: 400px;
  /* box-shadow: -2px 4px 43px 2px gray; */
  border-radius: 20px;
  margin-right: 20px;

  margin-bottom: 20px;
}
.productdetail .detail {
  margin-bottom: 30px;
  width: 50%;
}
.productdetail .detail button {
  background-color: orange;
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 30px;
}
.mobileproductdetail {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.mobileproductdetail .innerbox {
  width: 340px;
  text-align: center;
}

.mobileproductdetail .innerbox button {
  background-color: orange;
  color: white;
  border-radius: 10px;
  width: 200px;
}
.mobileproduct .innerbox div .image99 {
  width: 100%;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  font-size: 20px;
  font-weight: bolder;
  color: black;
}

.slider {
  margin: 0 20px;
  overflow: "hidden";
  padding: 2rem 0;
}

.slider img {
  width: 100%;
  border-radius: 10px;
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(255, 68, 68);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
}

.parent {
  background-color: #e3e6e6;

  padding: 20px;
}

.parent .slider img {
  height: 200px;
  width: 80%;
}
.parent .slider {
  height: 471px;
  background-color: white;

  text-align: center;
}
.parent .slider button {
  background-color: orange;
  color: white;
  border-radius: 10px;
  width: 50%;
}

/* -----------------------cart------- */

.cart {
  display: flex;
  padding: 10px;
  background-color: #e3e6e6;

  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}
sup {
  padding-top: 10px;
  font-weight: bold;
  font-size: 22px;
}
.form-control {
  width: 300px;
  border: 1px solid black;
}

/* ---------------------------------order-------------------------- */

.parent-cont {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.child-cont {
  
  padding: 10px;

  width: 500px;
  height: 20%;
}
.first-cont {
  width: 50%;
}
.first-cont img {
  width: 100%;
}
.second-cont {
  width: 50%;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.second-cont div .button {
  width: 100px;
  background-color: black;
  color: white;
  justify-content: center;

  border-radius: 5px;
  font-weight: bolder;
  font-size: x-large;
}
.second-cont div {
  height: auto;
  width: 50%;
  display: flex;
}
.remove button {
  width: 116px;
  height: 32px;
  background-color: black;
  color: white;
}
table{
  border: 2px solid black;
  width: 400px;
  height: 200px;
}
table tr{
  border: 2px solid black;


}
table th{
  border: 2px solid black;
  text-align: center;
}
table td{
  border: 2px solid black;
  text-align: center;

}
.container{
  display: flex;
  padding: 20px;
}
.no-items-message{

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;

}
.no-items-message p{
  
  background-color: red;
  height: 90px;
  font-size: 50px;
  border-radius: 8px;
  padding: 9px;
color: white;
  
}
@media screen and (max-width: 650px) and (min-width: 300px) {
  #carouselExampleAutoplaying .carousel-inner .carousel-item img {
    height: 300px;
  }
  .home .mobileproduct .innerbox {
    width: 280px;
  }

  .productdetail .detail {
    width: 100%;
  }

  .ads {
    height: 100px;
  }

  .home .mobileproduct {
    max-width: 300px;
    min-width: auto;
  }

  .form-control {
    width: 100%;
  }
}
